.main {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 80px;
}

.vehicle-info-area {
    width: 100%;
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;
}

.vehicle-area-images {
    margin-left: 40px;
}

.vehicle-image-info {
    width: 508px;
    height: 500px;
    border: solid black 1px;
}

.small-image {
    width: 100px;
    height: 100px;
    border: solid black 1px;
    float:left;
    cursor: pointer;
}   

.main h2 {
    margin-left: 10px;
}

.small-image img {
    width: 100px;
    height: 100px;
}

.vehicle-image-info img {
    width: 508px;
    height: 500px;
}

#slider {
    width: 100%;
    height: 100%;
    position: relative;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}

.prev-btn {
    float:left;
}

.next-btn {
    float:right;
}

.btn_imgs {
    width: 50%;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    cursor: pointer;
}

.vehicle-area-images h3 {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial;
    width: 100%;
    text-align:center;
}

.tb-horarios {
    width: 100%;
    border-collapse: collapse;
}

.details-table {
    font-family: Arial;
}

.label {
    text-align: right;
    font-weight: 600;
}

.fieldset {
    padding: 1em;
    float: left;
    font-family: Arial;
    margin-top: 10px;
    border:none;
    width: 95.6%;
    background: #f5f9ff;
    box-shadow: 2px 2px 3px rgba(0,0,0, 0.75);
}

legend {
    margin-left: 25px;
    background-color: rgb(82, 81, 79);
    color: white;
    padding: 0 10px;
    font-weight: 600;
    font-size: 20px;
}

.list-obs {
  position:relative; 
  margin:0;          
  padding:0;
  width:100%;        
  height:100%;       
}

.list-obs li {
  display:block;             
  list-style-type: none;     
  margin:0;                  
  box-sizing: border-box;    
  height:25%;                
}

.list-obs li:nth-child(odd) {          
  clear:both;                
  float:left;                
  width:50%;                 
}

.list-obs li:nth-child(4n+2),          
.list-obs li:nth-child(4n+3) {         
  background-color:#444;     
}

.agendamento {
    margin-top: 20px;
    width: min-content;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
}

.agendamento-btn {
    padding: 10px;
    font-family: Arial;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    background: white;
    width: 200px;
    border-radius: 3px;
    border: 2px solid #4CAF50;
    transition: 0.5s;
}

.agendamento-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    width: 300px;
    
}