.main {
    width: 100%;
    height: 100%;
    display: flex;
}

.vehicle-info-area {
    width: 100%;
    height: 600px;
    border: solid black 1px;
    float:left;
    margin-left: 50px;
    margin-right: 50px;
}

.vehicle-area-images {
    margin-left: 40px;
}

.vehicle-image-info {
    width: 508px;
    height: 500px;
    border: solid black 1px;
}

.small-image {
    width: 100px;
    height: 100px;
    border: solid black 1px;
    float:left;
    cursor: pointer;
}   

.main h2 {
    margin-left: 10px;
}

.small-image img {
    width: 100px;
    height: 100px;
}

.vehicle-image-info img {
    width: 508px;
    height: 500px;
}

#slider {
    width: 100%;
    height: 100%;
    position: relative;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}

.prev-btn {
    float:left;
}

.next-btn {
    float:right;
}

.btn_imgs {
    width: 50%;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    cursor: pointer;
}

.vehicle-area-images h3 {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial;
    width: 100%;
    text-align:center;
}

.tb-horarios {
    
}